<!DOCTYPE html>
<html>
  <head>
    <title>{{name}} | Homepage</title>
    <meta lang="en-US" /> <!-- 'murica -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" />
    <style>
      body {
        text-align: center;
        background-color: #eeeeee;
      }
      nav {
        background-color: #004400;
        color: #dddddd;
      }
    </style>
  </head>
  <body>
    <nav>
      <h1>{{name}}</h1>
    </nav>
    <br />
    <h3>A web app for identifying plant species in the wild</h3>
    <br />
    <br />
    <button class="btn btn-primary">Get Started</button>
    <br />
    <br />
    <button class="btn btn-secondary">Learn More</button>
    <br />
    <hr />
    <br />
    <h2>Key Aspects of {{name}}</h2>
    <br />
    <h3>Machine Learning</h3>
    <i class="fa fa-5x fa-cogs"></i>
    <p>{{name}} uses machine learning in order to recognize many different species of plants.</p>
    <br />
    <h3>Portability</h3>
    <i class="fa fa-5x fa-suitcase"></i>
    <p>{{name}} is web-based, meaning it can run on almost any device.</p>
  </body>
</html>
